.container{
    display: flex;
    flex-direction: row;
    position: relative;
}
.left{
    width: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

.about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    font-weight: normal;
}

.description{
    font-size: 1.2em;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right{
    width: 60%;
    padding: 2rem;

}

.image{
    width: 100%;
    object-fit: cover;
}